In [1]:
# This is the code to generate the Delhi crime dataset using chicago dataset

In [2]:
import sys
sys.version

'3.10.4 (main, Mar 31 2022, 03:38:35) [Clang 12.0.0 ]'

In [3]:
from glob import glob
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
all_file_path = glob('/Users/anshitbansal/Desktop/Criminal-Activity-Hotspots/data/*.csv')
all_file_path.sort()
all_file_path

['/Users/anshitbansal/Desktop/Criminal-Activity-Hotspots/data/Crime_Compress.csv',
 '/Users/anshitbansal/Desktop/Criminal-Activity-Hotspots/data/crimes_2012.csv',
 '/Users/anshitbansal/Desktop/Criminal-Activity-Hotspots/data/crimes_2013.csv',
 '/Users/anshitbansal/Desktop/Criminal-Activity-Hotspots/data/crimes_2014.csv',
 '/Users/anshitbansal/Desktop/Criminal-Activity-Hotspots/data/crimes_2015.csv',
 '/Users/anshitbansal/Desktop/Criminal-Activity-Hotspots/data/crimes_2016.csv',
 '/Users/anshitbansal/Desktop/Criminal-Activity-Hotspots/data/crimes_2017.csv',
 '/Users/anshitbansal/Desktop/Criminal-Activity-Hotspots/data/crimes_2018.csv',
 '/Users/anshitbansal/Desktop/Criminal-Activity-Hotspots/data/crimes_2019.csv']

In [5]:
data_2012 = pd.read_csv(all_file_path[1])
data_2013 = pd.read_csv(all_file_path[2])
data_2014 = pd.read_csv(all_file_path[3])
data_2015 = pd.read_csv(all_file_path[4])
data_2016 = pd.read_csv(all_file_path[5])
data_2017 = pd.read_csv(all_file_path[6])

In [6]:
data_2012_clean = data_2012.dropna()
data_2013_clean = data_2013.dropna()
data_2014_clean = data_2014.dropna()
data_2015_clean = data_2015.dropna()
data_2016_clean = data_2016.dropna()
data_2017_clean = data_2017.dropna()

In [7]:
data_2016

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Longitude,Location,Historical Wards 2003-2015,Zip Codes,Community Areas,Census Tracts,Wards,Boundaries - ZIP Codes,Police Districts,Police Beats
0,10819224,JA119772,12/31/2016 11:59:00 PM,100XX W OHARE ST,0810,THEFT,OVER $500,AIRPORT BUILDING NON-TERMINAL - SECURE AREA,False,False,...,-87.905227,"(41.976290414, -87.905227221)",34.0,16197.0,75.0,668.0,29.0,38.0,12.0,24.0
1,10801137,JA100016,12/31/2016 11:58:00 PM,0000X W 113TH PL,0430,BATTERY,AGGRAVATED: OTHER DANG WEAPON,RESIDENCE,False,False,...,-87.623931,"(41.688033246, -87.623931468)",45.0,21861.0,45.0,660.0,22.0,19.0,10.0,267.0
2,10801110,JA100027,12/31/2016 11:55:00 PM,030XX N LINCOLN AVE,2250,LIQUOR LAW VIOLATION,LIQUOR LICENSE VIOLATION,RESIDENCE,True,False,...,-87.664770,"(41.936884881, -87.66476981)",16.0,4449.0,57.0,712.0,40.0,22.0,5.0,173.0
3,10802006,JA100012,12/31/2016 11:55:00 PM,0000X E WACKER PL,0486,BATTERY,DOMESTIC BATTERY SIMPLE,HOTEL/MOTEL,False,True,...,-87.625593,"(41.886814897, -87.625592678)",22.0,14309.0,38.0,580.0,36.0,42.0,22.0,88.0
4,10801865,JA100839,12/31/2016 11:54:00 PM,078XX S INDIANA AVE,1310,CRIMINAL DAMAGE,TO PROPERTY,RESIDENCE,False,True,...,-87.619798,"(41.752307019, -87.619797619)",31.0,21546.0,67.0,475.0,32.0,61.0,20.0,228.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269032,11324071,JB275468,01/01/2016 12:00:00 AM,029XX N LAKE SHORE DR,0560,ASSAULT,SIMPLE,NURSING HOME/RETIREMENT HOME,False,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269033,11119798,JA471175,01/01/2016 12:00:00 AM,072XX S FAIRFIELD AVE,0266,CRIM SEXUAL ASSAULT,PREDATORY,RESIDENCE,False,False,...,-87.691736,"(41.762075613, -87.691735556)",6.0,21867.0,64.0,333.0,30.0,58.0,13.0,208.0
269034,10365841,HZ101659,01/01/2016 12:00:00 AM,002XX N DEARBORN ST,1320,CRIMINAL DAMAGE,TO VEHICLE,PARKING LOT/GARAGE(NON.RESID.),False,False,...,-87.629505,"(41.886012928, -87.629505318)",22.0,14309.0,38.0,92.0,36.0,42.0,22.0,88.0
269035,11466445,JB462020,01/01/2016 12:00:00 AM,010XX S CLARK ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,APARTMENT,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269036,10567295,HZ315254,01/01/2016 12:00:00 AM,004XX E 81ST ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,-87.613226,"(41.74748544, -87.613225563)",31.0,21546.0,40.0,11.0,32.0,61.0,20.0,235.0

In [8]:
set(data_2012_clean['Primary Type'])

{'ARSON',
 'ASSAULT',
 'BATTERY',
 'BURGLARY',
 'CRIM SEXUAL ASSAULT',
 'CRIMINAL DAMAGE',
 'CRIMINAL TRESPASS',
 'DECEPTIVE PRACTICE',
 'GAMBLING',
 'HOMICIDE',
 'INTERFERENCE WITH PUBLIC OFFICER',
 'INTIMIDATION',
 'KIDNAPPING',
 'LIQUOR LAW VIOLATION',
 'MOTOR VEHICLE THEFT',
 'NARCOTICS',
 'NON-CRIMINAL',
 'NON-CRIMINAL (SUBJECT SPECIFIED)',
 'OBSCENITY',
 'OFFENSE INVOLVING CHILDREN',
 'OTHER NARCOTIC VIOLATION',
 'OTHER OFFENSE',
 'PROSTITUTION',
 'PUBLIC INDECENCY',
 'PUBLIC PEACE VIOLATION',
 'ROBBERY',
 'SEX OFFENSE',
 'STALKING',
 'THEFT',
 'WEAPONS VIOLATION'}

In [9]:
data_2012_clean = data_2012_clean[["Case Number", "Date", "Primary Type", "Description", "Longitude", "Latitude", "Police Districts"]]
data_2013_clean = data_2013_clean[["Case Number", "Date", "Primary Type", "Description", "Longitude", "Latitude", "Police Districts"]]
data_2014_clean = data_2014_clean[["Case Number", "Date", "Primary Type", "Description", "Longitude", "Latitude", "Police Districts"]]
data_2015_clean = data_2015_clean[["Case Number", "Date", "Primary Type", "Description", "Longitude", "Latitude", "Police Districts"]]
data_2016_clean = data_2016_clean[["Case Number", "Date", "Primary Type", "Description", "Longitude", "Latitude", "Police Districts"]]
data_2017_clean = data_2017_clean[["Case Number", "Date", "Primary Type", "Description", "Longitude", "Latitude", "Police Districts"]]

In [10]:
# splitting date and time for any dataset 
def splitDateTime(df):
    date = []
    time = []
    for s in df["Date"]:
        string = s.split(" ")
        try:
            date.append(string[0])
            time.append(string[1] + string[2])
        except:
            print("An exception occurred")
    df.drop(["Date"], axis = 1)
    df["Date"] = date
    df["Time"] = time
    df = df[['Case Number', 'Date', 'Time', 'Primary Type', 'Description', 'Longitude', 'Latitude', 'Police Districts']]
    return df

In [11]:
data_2012_clean = splitDateTime(data_2012_clean)
data_2013_clean = splitDateTime(data_2013_clean)
data_2014_clean = splitDateTime(data_2014_clean)
data_2015_clean = splitDateTime(data_2015_clean)
data_2016_clean = splitDateTime(data_2016_clean)

In [12]:
data_2014_clean.head()

,Case Number,Date,Time,Primary Type,Description,Longitude,Latitude,Police Districts
0,HY100008,12/31/2014,11:58:00PM,BATTERY,SIMPLE,-87.683593,41.993559,11.0
1,HY100004,12/31/2014,11:50:00PM,CRIMINAL TRESPASS,TO RESIDENCE,-87.611405,41.824852,24.0
2,HY100036,12/31/2014,11:50:00PM,WEAPONS VIOLATION,UNLAWFUL USE HANDGUN,-87.721101,41.892408,16.0
3,HY100062,12/31/2014,11:50:00PM,WEAPONS VIOLATION,UNLAWFUL POSS OF HANDGUN,-87.655615,41.750468,20.0
4,HY113629,12/31/2014,11:46:00PM,DECEPTIVE PRACTICE,ILLEGAL USE CASH CARD,-87.662498,41.678520,9.0

In [13]:
# [firnumber , lat, long, description, timestamp, date, crime type, crime sub category]
columns = ["Unique ID", "Date", "Time", "Crime Type", "Crime Sub Category", "Description", "Latitude", "Longitude", "Jurisdiction"]
final_df = pd.DataFrame(columns = columns)

In [14]:
final_df

Empty DataFrame
Columns: [Unique ID, Date, Time, Crime Type, Crime Sub Category, Description, Latitude, Longitude, Jurisdiction]
Index: []

In [15]:
def prepareDatasets(option):
    filtered_df1 = data_2012_clean[data_2012_clean["Primary Type"].isin(option)]
    print(filtered_df1.shape)
    filtered_df2 = data_2013_clean[data_2013_clean["Primary Type"].isin(option)]
    print(filtered_df2.shape)
    filtered_df3 = data_2014_clean[data_2014_clean["Primary Type"].isin(option)]
    print(filtered_df3.shape)
    filtered_df4 = data_2015_clean[data_2015_clean["Primary Type"].isin(option)]
    print(filtered_df4.shape)
    filtered_df5 = data_2016_clean[data_2016_clean["Primary Type"].isin(option)]
    print(filtered_df5.shape)
    
    print(filtered_df1.head())
    
    return filtered_df1, filtered_df2, filtered_df3, filtered_df4, filtered_df5

In [16]:
def prepareDatasets2(option):
    filtered_df1 = data_2012_clean[data_2012_clean["Primary Type"].isin(option)]
    print(filtered_df1.shape)
    filtered_df2 = data_2013_clean[data_2013_clean["Primary Type"].isin(option)]
    print(filtered_df2.shape)
    filtered_df3 = data_2014_clean[data_2014_clean["Primary Type"].isin(option)]
    print(filtered_df3.shape)
    filtered_df4 = data_2015_clean[data_2015_clean["Primary Type"].isin(option)]
    print(filtered_df4.shape)
    filtered_df5 = data_2016_clean[data_2016_clean["Primary Type"].isin(option)]
    print(filtered_df5.shape)
    
    print(filtered_df1.head())
    
    filtered_df1 = filtered_df1.append(filtered_df2)
    filtered_df1 = filtered_df1.append(filtered_df3)
    filtered_df1 = filtered_df1.append(filtered_df4)
    filtered_df1 = filtered_df1.append(filtered_df5)
    
    print("Combined Size ", filtered_df1.shape[0] )

    return filtered_df1, filtered_df3, filtered_df4, filtered_df5

## Robbery, Theft, Burglary Primary Type 

Theft, Robbery, Burglary, Dacoity

In [17]:
# burglary

In [18]:
option = ["BURGLARY"]
burglary_df = data_2012_clean[data_2012_clean["Primary Type"].isin(option)]

In [19]:
burglary_df.shape

(22742, 8)

In [20]:
burglary_df = burglary_df.iloc[0:3379, :]

In [21]:
burglary_df.shape

(3379, 8)

In [22]:
burglary_df.head()

,Case Number,Date,Time,Primary Type,Description,Longitude,Latitude,Police Districts
578,HV114556,01/11/2012,08:00:00AM,BURGLARY,FORCIBLE ENTRY,-87.657556,41.781309,17.0
609,HV133187,01/01/2012,09:00:00AM,BURGLARY,FORCIBLE ENTRY,-87.644683,41.933569,5.0
658,HV176765,02/28/2012,03:00:00PM,BURGLARY,FORCIBLE ENTRY,-87.691860,41.852865,21.0
704,HV221866,03/30/2012,10:00:00AM,BURGLARY,UNLAWFUL ENTRY,-87.605261,41.776786,18.0
804,HV297926,05/20/2012,01:39:00AM,BURGLARY,FORCIBLE ENTRY,-87.669101,41.940310,5.0

In [23]:
# robbery 
option = ["ROBBERY"]

temp_df1, tempdf2, tempdf3, tempdf4, tempdf5 = prepareDatasets(option)

(13432, 8)
(11766, 8)
(9758, 8)
(9585, 8)
(11909, 8)
    Case Number        Date        Time Primary Type     Description  \
558    HV101758  01/02/2012  11:45:00AM      ROBBERY  ARMED: HANDGUN
562    HV105007  01/04/2012  09:20:00PM      ROBBERY  ARMED: HANDGUN
588    HV119704  01/14/2012  03:30:00PM      ROBBERY  ARMED: HANDGUN
598    HV127044  01/21/2012  11:45:00PM      ROBBERY  ARMED: HANDGUN
667    HV186234  03/06/2012  10:30:00PM      ROBBERY      AGGRAVATED

     Longitude   Latitude  Police Districts
558 -87.630561  41.765423              17.0
562 -87.603357  41.800846              24.0
588 -87.771129  41.894771              25.0
598 -87.680312  41.903138               7.0
667 -87.721942  41.750451              13.0

In [24]:
robbery_df1 = temp_df1.iloc[0:1040, :]
robbery_df1.shape

(1040, 8)

In [25]:
# theft 
option = ["THEFT"]

temp_df1, tempdf2, tempdf3, tempdf4, tempdf5 = prepareDatasets(option)

(74694, 8)
(71041, 8)
(61021, 8)
(56382, 8)
(60687, 8)
    Case Number        Date        Time Primary Type   Description  Longitude  \
552    HV137197  01/25/2012  01:00:00PM        THEFT     OVER $500 -87.666795
555    HV569708  11/19/2012  02:24:00PM        THEFT  RETAIL THEFT -87.631050
556    HV100940  01/01/2012  12:30:00PM        THEFT     OVER $500 -87.646778
559    HV103125  01/03/2012  01:50:00PM        THEFT     OVER $500 -87.673936
560    HV103754  01/03/2012  09:20:00PM        THEFT     OVER $500 -87.689854

      Latitude  Police Districts
552  41.933337               5.0
555  41.888789              14.0
556  41.881787              15.0
559  41.780702              17.0
560  41.996830              11.0

In [26]:
# 22635 

theft_df1 = temp_df1.iloc[0:22635, :]
theft_df1.shape

(22635, 8)

In [27]:
# Dacoity

option = ["MOTOR VEHICLE THEFT"]
temp_df1, tempdf2, tempdf3, tempdf4, tempdf5 = prepareDatasets(option)

(16436, 8)
(12541, 8)
(9859, 8)
(9973, 8)
(11238, 8)
     Case Number        Date        Time         Primary Type Description  \
2057    HV100356  01/01/2012  03:00:00AM  MOTOR VEHICLE THEFT  AUTOMOBILE
2167    HV100443  01/01/2012  05:30:00AM  MOTOR VEHICLE THEFT  AUTOMOBILE
2170    HV100593  01/01/2012  04:45:00AM  MOTOR VEHICLE THEFT  AUTOMOBILE
2250    HV100793  01/01/2012  12:30:00AM  MOTOR VEHICLE THEFT  AUTOMOBILE
2259    HV100759  01/01/2012  11:50:00AM  MOTOR VEHICLE THEFT  AUTOMOBILE

      Longitude   Latitude  Police Districts
2057 -87.745904  41.899173              25.0
2167 -87.740683  41.806656              13.0
2170 -87.700214  41.968524               2.0
2250 -87.576435  41.771078              18.0
2259 -87.642528  41.697121               9.0

In [28]:
# 106
dacoity_df1 = temp_df1.iloc[0:106, :]
dacoity_df1.shape

(106, 8)

## Murder Primary Type

In [30]:
option1 = ["HOMICIDE"]
option2 = ["FIRST DEGREE MURDER"]
murder_df1 = data_2012_clean[data_2012_clean["Primary Type"].isin(option1) &  data_2012_clean["Description"].isin(option2)]

In [32]:
murder_df1.tail()

,Case Number,Date,Time,Primary Type,Description,Longitude,Latitude,Police Districts
1874,HV130003,01/20/2012,08:00:00AM,HOMICIDE,FIRST DEGREE MURDER,-87.654763,41.854900,15.0
1875,HV458091,09/02/2012,12:45:00PM,HOMICIDE,FIRST DEGREE MURDER,-87.681638,42.018518,11.0
1876,HT364674,07/13/2012,07:00:00AM,HOMICIDE,FIRST DEGREE MURDER,-87.701260,41.798446,23.0
1877,HV110472,01/09/2012,07:10:00AM,HOMICIDE,FIRST DEGREE MURDER,-87.723578,41.854333,21.0
1878,HV005106,06/30/2012,02:15:00AM,HOMICIDE,FIRST DEGREE MURDER,-87.689769,41.780259,13.0

In [33]:
murder_df1.shape

(505, 8)

In [34]:
option1 = ["HOMICIDE"]
option2 = ["FIRST DEGREE MURDER"]
murder_df2 = data_2013_clean[data_2013_clean["Primary Type"].isin(option1)]

In [35]:
murder_df2.shape

(421, 8)

In [36]:
murder_df2 = murder_df2.iloc[0:462, :]

# combine both

## Rape

In [ ]:
option = ["SEX OFFENSE"] 
tempdf1, tempdf2, tempdf3, tempdf4 = prepareDatasets2(option)

In [ ]:
rape_df1 = tempdf1.iloc[0:1073, :]
rape_df1.shape

## 3 )Assault 
ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY <br>
SEXUAL HARASSMENT <br>
ASSAULT OR USE OF CRIMINAL FORCE ON WOMEN WITH INTENT TO DISROBE<br>
VOYEURISM<br>
STALKING<br>

In [ ]:
# ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY 

option = ["ASSAULT"] 
temp_df1, tempdf2, tempdf3, tempdf4 = prepareDatasets2(option)

In [ ]:
assault_on_women_df = temp_df1.iloc[0:1627, :]

# assault_on_women_df.head()
1627 + 376

In [ ]:
# ASSAULT OR USE OF CRIMINAL FORCE ON WOMEN WITH INTENT TO DISROBE
assault_use_of_criminal_df = temp_df1.iloc[1627:2003]

In [ ]:
# VOYEURISM
voyeurism_df = tempdf1.iloc[2003:2047]

In [ ]:
# SEXUAL HARASSMENT 

option = ["CRIM SEXUAL ASSAULT"] 
temp_df1, tempdf2, tempdf3, tempdf4 = prepareDatasets2(option)

In [ ]:
sexual_assault_df = temp_df1.iloc[0:614, :]
sexual_assault_df.shape

In [ ]:
# STALKING

option = ["STALKING"] 
temp_df1, tempdf2, tempdf3, tempdf4 = prepareDatasets2(option)

In [ ]:
stalking_df = temp_df1.iloc[0:298,:]

## Arms/Explosive - Related Acts
The Arms Act <br>
The Explosives Act <br>
The Explosive Substances Act <br>

In [ ]:
option = ["WEAPONS VIOLATION"] 
temp_df1, tempdf2, tempdf3, tempdf4 = prepareDatasets2(option)

In [ ]:
arms_act_df = temp_df1.iloc[:2449, :]

In [ ]:
explosives_df = temp_df1.iloc[2449:2521]

In [ ]:
The_Explosive_Substances_Act_df = temp_df1.iloc[2521:(2521 + 67),:]
The_Explosive_Substances_Act_df.shape

## Human Trafficking

Human Trafficking -  
Exploitation of Trafficked Person

In [ ]:
option = ["PROSTITUTION"] 
temp_df1, tempdf2, tempdf3, tempdf4 = prepareDatasets2(option)

prostituition_df = temp_df1.iloc[:25, :]

## Corruption
Corruption

In [ ]:
option = ["STALKING"] 
temp_df1, tempdf2, tempdf3, tempdf4 = prepareDatasets2(option)
_df = temp_df1.iloc[:, :]

Â ## Extortion and blackmail 
Â Extortion and blackmail

In [ ]:
option = ["INTIMIDATION"] 
temp_df1, tempdf2, tempdf3, tempdf4 = prepareDatasets2(option)
extortion_df = temp_df1.iloc[0:371,:]

## Child abuse
Selling of Minors for Prostitution - 
Buying of Minors for Prostitution - 
The Protection of Children from Sexual Offences Act - 
The Juvenile Justice (Care and Protection of Children) Act - 
The Prohibition of Child Marriage Act - 
The Pre-Natal Diagnostic Techniques (Reg and Prev of Misuse) Act - 
The Child Labour (Prohibition & Regulation) Act - 
The Medical Termination of Pregnancy Act -

In [ ]:
option = ["OFFENSE INVOLVING CHILDREN"] 
temp_df1, tempdf2, tempdf3, tempdf4 = prepareDatasets2(option)

Selling_of_Minors_for_Prostitution_df = temp_df1.iloc[:1, :]

In [ ]:
# option = ["OFFENSE INVOLVING CHILDREN"] 
# temp_df1, tempdf2, tempdf3, tempdf4 = prepareDatasets2(option)
# _df = temp_df1.iloc[1:, :]

In [ ]:
option = ["OFFENSE INVOLVING CHILDREN"] 
temp_df1, tempdf2, tempdf3, tempdf4 = prepareDatasets2(option)
TheProtectionofChildrenfromSexualOffencesAct_df = temp_df1.iloc[1:1586, :]

In [ ]:
option = ["OFFENSE INVOLVING CHILDREN"] 
temp_df1, tempdf2, tempdf3, tempdf4 = prepareDatasets2(option)
The_Juvenile_Justice_Care_and_Protection_of_Children_Act_df = temp_df1.iloc[1586: 1652, :]
The_Juvenile_Justice_Care_and_Protection_of_Children_Act_df.shape

In [ ]:
option = ["OFFENSE INVOLVING CHILDREN"] 
temp_df1, tempdf2, tempdf3, tempdf4 = prepareDatasets2(option)
The_Prohibition_of_Child_Marriage_Act_df = temp_df1.iloc[1652:1670, :]
The_Prohibition_of_Child_Marriage_Act_df.shape

In [ ]:
option = ["OFFENSE INVOLVING CHILDREN"] 
temp_df1, tempdf2, tempdf3, tempdf4 = prepareDatasets2(option)
The_PreNatal_Diagnostic_Techniques_Reg_and_Prev_of_Misuse_Act_df = temp_df1.iloc[1670:1672, :]
The_PreNatal_Diagnostic_Techniques_Reg_and_Prev_of_Misuse_Act_df.shape

In [ ]:
option = ["OFFENSE INVOLVING CHILDREN"] 
temp_df1, tempdf2, tempdf3, tempdf4 = prepareDatasets2(option)
The_Child_Labour_Prohibition_Regulation_Act_df = temp_df1.iloc[1672:1698, :]
The_Child_Labour_Prohibition_Regulation_Act_df.shape

In [ ]:
option = ["OFFENSE INVOLVING CHILDREN"] 
temp_df1, tempdf2, tempdf3, tempdf4 = prepareDatasets2(option)
The_Medical_Termination_of_Pregnancy_Act_df = temp_df1.iloc[1698:1699, :]
The_Medical_Termination_of_Pregnancy_Act_df.shape

## DRUNK DRIVING, ROAD RAGES
Deaths due to Negligence relating to Road Accidents -
Rash Driving on Public way

In [ ]:
option = ["STALKING"] 
temp_df1, tempdf2, tempdf3, tempdf4 = prepareDatasets2(option)
_df = temp_df1.iloc[:, :]

In [ ]:
option = ["STALKING"] 
temp_df1, tempdf2, tempdf3, tempdf4 = prepareDatasets2(option)
_df = temp_df1.iloc[:, :]

## Abduction or Kidnapping
Kidnapping and Abduction - <br>
Kidnapping and Abduction for the Purpose of Begging <br>
Kidnapping and Abduction in order to Murder  <br>
Kidnapping for Ransom <br>
Kidnapping and Abduction of Women to compel her for marriage <br>
Procuration of Minor Girls <br>
Importation of Girls from Foreign Country <br>
Other Kidnapping & Abducion <br>

In [ ]:
option = ["KIDNAPPING"] 
temp_df1, tempdf2, tempdf3, tempdf4 = prepareDatasets2(option)
Kidnapping_and_Abduction_df = temp_df1.iloc[0:1081,:]

In [ ]:
 # NOT ENOUGH DATA

In [ ]:

temp_df1, tempdf2, tempdf3, tempdf4 = prepareDatasets2(option)
_df = temp_df1.iloc[:, :]

In [ ]:
temp_df1, tempdf2, tempdf3, tempdf4 = prepareDatasets2(option)
_df = temp_df1.iloc[:, :]

In [ ]:
temp_df1, tempdf2, tempdf3, tempdf4 = prepareDatasets2(option)
_df = temp_df1.iloc[:, :]

In [ ]:

temp_df1, tempdf2, tempdf3, tempdf4 = prepareDatasets2(option)
_df = temp_df1.iloc[:, :]

In [ ]:

temp_df1, tempdf2, tempdf3, tempdf4 = prepareDatasets2(option)
_df = temp_df1.iloc[:, :]

In [ ]:

temp_df1, tempdf2, tempdf3, tempdf4 = prepareDatasets2(option)
_df = temp_df1.iloc[:, :]

In [ ]:

temp_df1, tempdf2, tempdf3, tempdf4 = prepareDatasets2(option)
_df = temp_df1.iloc[:, :]

## Culpable Homicide and Grevious Hurt
Culpable Homicide not amounting to Murder <br>
Grievous Hurt (includes Acid Attack as well)<br>

In [ ]:
option1 = ["HOMICIDE"]
option2 = ["RECKLESS HOMICIDE"]

temp_df1 = data_2012_clean[data_2012_clean["Primary Type"].isin(option1)] 
temp_df2 = data_2013_clean[data_2013_clean["Primary Type"].isin(option1)] 
temp_df3 = data_2014_clean[data_2014_clean["Primary Type"].isin(option1)] 
temp_df4 = data_2015_clean[data_2015_clean["Primary Type"].isin(option1)] 
temp_df5 = data_2016_clean[data_2016_clean["Primary Type"].isin(option1)] 

temp_df1.shape, temp_df2.shape, temp_df3.shape, temp_df4.shape, temp_df5.shape

In [ ]:
Culpable_Homicide_not_amounting_to_Murder_df = temp_df1.iloc[0:116]

In [ ]:
Grievous_Hurt_includes_Acid_Attack_as_well_df = temp_df1.iloc[116:506,:]
Grievous_Hurt_includes_Acid_Attack_as_well_df = Grievous_Hurt_includes_Acid_Attack_as_well_df.append(temp_df2)
Grievous_Hurt_includes_Acid_Attack_as_well_df = Grievous_Hurt_includes_Acid_Attack_as_well_df.append(temp_df3)
Grievous_Hurt_includes_Acid_Attack_as_well_df = Grievous_Hurt_includes_Acid_Attack_as_well_df.append(temp_df4)
Grievous_Hurt_includes_Acid_Attack_as_well_df = Grievous_Hurt_includes_Acid_Attack_as_well_df.append(temp_df5)

Grievous_Hurt_includes_Acid_Attack_as_well_df = Grievous_Hurt_includes_Acid_Attack_as_well_df.iloc[0:2525]

In [ ]:
# not enough data for Grievous_Hurt_includes_Acid_Attack_as_well_df but filled as much possible

## The Immoral Traffic (Prevention) Act
The Immoral Traffic (Prevention) Act

In [ ]:
option = ["PROSTITUTION"] 
temp_df1, tempdf2, tempdf3, tempdf4 = prepareDatasets2(option)
# takinf from 2015 
The_Immoral_Traffic_Prevention_Act_df = temp_df4.iloc[0:55, :]

## The Mines and Minerals (Development and Regulation) Act
The Mines and Minerals (Development and Regulation) Act

In [ ]:
option = ["STALKING"] 
temp_df1, tempdf2, tempdf3, tempdf4 = prepareDatasets2(option)


_df = temp_df4.iloc[:, :]

## The Gambling Act
The Gambling Act

In [ ]:
option = ["GAMBLING"] 
temp_df1, tempdf2, tempdf3, tempdf4 = prepareDatasets2(option)
The_Gambling_Act_df = temp_df1.iloc[0:2211, :]
# not enough data in this

## Drug smuggling, possesion, sale or use of drugs
Prohibition Act (State) <br>
The Excise Act<br>
The Narcotic Drugs & Psychotropic Substances Act<br>

In [ ]:
option = ["NARCOTICS"] 
temp_df1, tempdf2, tempdf3, tempdf4 = prepareDatasets2(option)
Prohibition_Act_State_df = temp_df1.iloc[0:18707, :]

In [ ]:
option = ["NARCOTICS"] 
temp_df1, tempdf2, tempdf3, tempdf4 = prepareDatasets2(option)
The_Excise_Act_df = temp_df1.iloc[18707:28357, :]

In [ ]:
option = ["NARCOTICS"] 
temp_df1, tempdf2, tempdf3, tempdf4 = prepareDatasets2(option)
The_Narcotic_Drugs_Psychotropic_Substances_Act_df = temp_df1.iloc[28357:28357 + 2437, :]

## Environment and Pollution - Related Acts
The Forest Act & The Forest Conservation Act <br>
The Wildlife Protection Act <br>
The Environmental (Protection) Act <br>
The Air & The Water (Prevention & Control of Pollution) Act <br>
The Cigarette and Other Tobacco Products Act <br>
Noise Pollution Acts <br>
The National Green Tribunal Act <br>

In [ ]:
option = ["OTHER OFFENSE"] 
temp_df1, tempdf2, tempdf3, tempdf4 = prepareDatasets2(option)
The_Forest_Act_The_Forest_Conservation_Act_df = temp_df1.iloc[0:71, :]

In [ ]:
The_Wildlife_Protection_Act_df = temp_df1.iloc[71:92, :]
The_Wildlife_Protection_Act_df.shape

In [ ]:
The_Environmental_Protection_Act_df = temp_df1.iloc[92:108, :]
The_Environmental_Protection_Act_df.shape

In [ ]:
The_Air_The_Water_Prevention_Control_of_Pollution_Act_df = temp_df1.iloc[108:113, :]
The_Air_The_Water_Prevention_Control_of_Pollution_Act_df.shape

In [ ]:
The_Cigarette_and_Other_Tobacco_Products_Act_df = temp_df1.iloc[113:872, :]
The_Cigarette_and_Other_Tobacco_Products_Act_df.shape

In [ ]:
Noise_Pollution_Acts_df = temp_df1.iloc[872:1158, :]
Noise_Pollution_Acts_df.shape

In [ ]:
The_National_Green_Tribunal_Act_df = temp_df1.iloc[1158:1161, :]

In [ ]:
The_National_Green_Tribunal_Act_df.shape

In [ ]:
# now we still need to complete some acts
# then we need to store in each dataset their act
# then combine all into one
# after combing set all years to 2012
# then we need to shift lat long
# then we need to get aaddress for each lat long using geopy and store it 
# then finally try data on ML models

In [ ]:
# Aakriti add anything above if I am missing anything ^